.dialog-container {
  width: 50vw;
  text-align: center;
  padding: 20px 0;

  &.mobile {
    width: auto;
  }

  .subtitle-1 {
    line-height: 1em;
    margin-bottom: 1rem;
  }

  mat-dialog-content {
    margin-bottom: 1rem;
  }

  mat-dialog-actions {
    justify-content: space-around;

    button {
      width: 75px;
    }
  }
}
