<div id="playgroundContent">

  <app-settings *ngIf="settingsOpen" [title]="'X01'" [playground]="playground"
                [rules]="'All players start with 301/501 points and attempt to reach zero. If a player scores more ' +
                 'than the total required to reach zero, the player “busts” and the score returns to the score that ' +
                  'was existing at the start of the turn.'">

    <h2>Games</h2>
    <button mat-raised-button class="button" [color]="settings.startValue===101?'primary':''"
            (click)="settings.setStartValue(101)">101
    </button>
    <button mat-raised-button class="button" [color]="settings.startValue===201?'primary':''"
            (click)="settings.setStartValue(201)">201
    </button>
    <button mat-raised-button class="button" [color]="settings.startValue===301?'primary':''"
            (click)="settings.setStartValue(301)">301
    </button>
    <button mat-raised-button class="button" [color]="settings.startValue===501?'primary':''"
            (click)="settings.setStartValue(501)">501
    </button>
    <button mat-raised-button class="button" [color]="settings.startValue===701?'primary':''"
            (click)="settings.setStartValue(701)">701
    </button>
    <button mat-raised-button class="button" [color]="settings.startValue===901?'primary':''"
            (click)="settings.setStartValue(901)">901
    </button>
    <mat-divider></mat-divider>

    <h2>Check In</h2>
    <button mat-raised-button class="button shortmedium" [color]="settings.start===1?'primary':''"
            (click)="settings.setStart(1)">Normal
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.start===2?'primary':''"
            (click)="settings.setStart(2)">Double
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.start===3?'primary':''"
            (click)="settings.setStart(3)">Triple
    </button>
    <mat-divider></mat-divider>

    <h2>Check Out</h2>
    <button mat-raised-button class="button shortmedium" [color]="settings.checkout===1?'primary':''"
            (click)="settings.setCheckout(1)">Single
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.checkout===2?'primary':''"
            (click)="settings.setCheckout(2)">Double
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.checkout===3?'primary':''"
            (click)="settings.setCheckout(3)">Triple
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.checkout===4?'primary':''"
            (click)="settings.setCheckout(4)">High Score
    </button>
  </app-settings>

  <div class="side-left" [class.detailed]="application.settings.details">
    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen" [info]="getInfo()"></app-game-toolbar>
    <div class="player_container" *ngIf="!settingsOpen" [class.visual]="!application.settings.details">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <app-player-score [player]="player" [hasContent]="false"></app-player-score>
      </div>
    </div>
  </div>
  <app-number-plate-visual [playground]="playground" *ngIf="!settingsOpen && !application.settings.details">
  </app-number-plate-visual>
  <app-number-plate [playground]="playground" *ngIf="!settingsOpen && application.settings.details"></app-number-plate>
</div>
