<div id="playgroundContent">

  <div class="left side_left">

    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>

    <div class="clear" *ngIf="!settingsOpen"></div>

    <ng-container *ngIf="!settingsOpen">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <div class="player_info">
          <div class="name left">{{player.name}}</div>
          <div class="shoots right">
            <div class="shoot total"><p>{{player.getThrowsTotal()}}</p></div>
            <div class="shoot"><p>{{player.throws[2]}}</p></div>
            <div class="shoot"><p>{{player.throws[1]}}</p></div>
            <div class="shoot"><p>{{player.throws[0]}}</p></div>
          </div>
          <div class="clear"></div>
          <div class="line"></div>
          <div class="point left">{{player.score}}</div>
          <div class="clear"></div>
        </div>
      </div>
    </ng-container>

    <div class="settings" *ngIf="settingsOpen">
      <h1>X01 Settings</h1>

      <h2>Players</h2>
      <button ion-button class="button left big" (click)="addPlayer()" *ngIf="game.canAddPlayer()">New Player</button>
      <button ion-button class="button left big inactive" *ngIf="!game.canAddPlayer()">New Player</button>
      <div class="clear"></div>
      <div *ngFor="let player of game.players; let i = index">
        <p>
          Player #{{i + 1}} name: <input [(ngModel)]="player.name" name="input" type="text">
          <button ion-button class="button small" (click)="removePlayer(player)"> -</button>
        </p>
      </div>
      <div class="clear"></div>

      <h2>Games</h2>
      <button ion-button class="button left {{settings.startValue==101?'highlighted':''}}"
              (click)="settings.setStartValue(101)">101
      </button>
      <button ion-button class="button left {{settings.startValue==201?'highlighted':''}}"
              (click)="settings.setStartValue(201)">201
      </button>
      <button ion-button class="button left {{settings.startValue==301?'highlighted':''}}"
              (click)="settings.setStartValue(301)">301
      </button>
      <button ion-button class="button left {{settings.startValue==501?'highlighted':''}}"
              (click)="settings.setStartValue(501)">501
      </button>
      <button ion-button class="button left {{settings.startValue==701?'highlighted':''}}"
              (click)="settings.setStartValue(701)">701
      </button>
      <button ion-button class="button left {{settings.startValue==901?'highlighted':''}}"
              (click)="settings.setStartValue(901)">901
      </button>
      <div class="clear"></div>

      <h2>Start</h2>
      <button ion-button class="button left shortmedium {{settings.start==1?'highlighted':''}}"
              (click)="settings.setStart(1)">Single
      </button>
      <button ion-button class="button left shortmedium {{settings.start==2?'highlighted':''}}"
              (click)="settings.setStart(2)">Double
      </button>
      <button ion-button class="button left shortmedium {{settings.start==3?'highlighted':''}}"
              (click)="settings.setStart(3)">Triple
      </button>
      <div class="clear"></div>

      <h2>Checkout</h2>
      <button ion-button class="button left shortmedium {{settings.checkout==1?'highlighted':''}}"
              (click)="settings.setCheckout(1)">Single
      </button>
      <button ion-button class="button left shortmedium {{settings.checkout==2?'highlighted':''}}"
              (click)="settings.setCheckout(2)">Double
      </button>
      <button ion-button class="button left shortmedium {{settings.checkout==3?'highlighted':''}}"
              (click)="settings.setCheckout(3)">Triple
      </button>
      <button ion-button class="button left shortmedium {{settings.checkout==4?'highlighted':''}}"
              (click)="settings.setCheckout(4)">None
      </button>

      <div class="clear space"></div>
      <button ion-button class="button left big" (click)="newGame()">Save and Start</button>
      <button ion-button class="button left big" (click)="quit()">Cancel</button>
    </div>

  </div>

  <app-number-plate [playground]="playground" *ngIf="!settingsOpen"></app-number-plate>

</div>
