.side-right {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  height: 90vh;
  margin-top: 20px;

  .number {
    margin: 2px;
    font-size: calc(11px + 0.8vw + 0.8vh);
    height: 20vw;
    width: 20vw;

    mat-icon {
      position: absolute;
      top: 10px;
      left: 5px;
      font-size: 30px;
    }

    &.next {
      width: calc(40vw + 4px);
    }
  }
}
