<div id="playgroundContent">

  <app-settings *ngIf="settingsOpen" [title]="'Around The Clock'" [playground]="playground"
                [rules]="'The object of this popular game is to be the first player to hit every number on the board ' +
                 'from 1-20. The numbers must be hit in order, and players alternate after three throws. The player ' +
                  'must hit each number in turn and cannot proceed until to the next number until the number is hit. ' +
                   'The winner is the player who hist all the numbers in order first.'">
    <h2>Games</h2>
    <button mat-raised-button class="button shortmedium" [color]="settings.jump?'primary':''" (click)="settings.toggleJump()">
      Enable Jump
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.punishment?'primary':''" (click)="settings.togglePunishment()">
      Punishment
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.saboteur?'primary':''" (click)="settings.toggleSaboteur()">
      Saboteur
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.promoter?'primary':''" (click)="settings.togglePromoter()">
      Promoter
    </button>
    <mat-divider></mat-divider>
    <button mat-raised-button class="button shortmedium" [color]="settings.life === 3?'primary':''" (click)="settings.toggleTreeLives()">
      Tree Lives
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.life === 5?'primary':''" (click)="settings.toggleFiveLives()">
      Five Lives
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.life === 7?'primary':''" (click)="settings.toggleSevenLives()">
      Seven Lives
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.life === 10?'primary':''" (click)="settings.toggleTenLives()">
      Ten Lives
    </button>
    <mat-divider></mat-divider>
    <button mat-raised-button class="button shortmedium" [color]="settings.firstDeath?'primary':''" (click)="settings.toggleFirstDeath()">
      First Death
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.palFirst?'primary':''" (click)="settings.togglePalFirst()">
      Pal First
    </button>
    <button mat-raised-button class="button shortmedium" (click)="settings.setFavorite()">
      <mat-icon>favorite</mat-icon>
    </button>
    <mat-divider></mat-divider>

    <h2>Field's order</h2>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==0?'primary':''" (click)="settings.setStyle(0)">
      Ascending
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==4?'primary':''" (click)="settings.setStyle(4)">
      Descending
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==1?'primary':''" (click)="settings.setStyle(1)">
      Clockwise
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==2?'primary':''" (click)="settings.setStyle(2)">
      Anticlockwise
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==8?'primary':''" (click)="settings.setStyle(8)">
      TripleClock
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==9?'primary':''" (click)="settings.setStyle(9)">
      ZoneClock
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==3?'primary':''" (click)="settings.setStyle(3)">
      Random
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==6?'primary':''" (click)="settings.setStyle(6)">
      Random11
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==5?'primary':''" (click)="settings.setStyle(5)">
      Recurrence
    </button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style==7?'primary':''" (click)="settings.setStyle(7)">
      Pirate
    </button>
  </app-settings>

  <div class="side-left" [class.detailed]="application.settings.details">
    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>
    <ng-container *ngIf="!settingsOpen">
      <div class="hidden-info" [class.hidden]="hiddenInfo" (click)="toggleHiddenInfo()">{{getDistanceFromRandom()}}</div>
      <div class="player
        {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}
        {{settings.life !== 0 && player.isInactive() ? 'inactive' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <app-player-score [player]="player" [scoreDisplayed]="false" [lifeDisplayed]="settings.life !== 0" [hasContent]="false">
        </app-player-score>
      </div>
    </ng-container>
  </div>
  <app-number-plate [playground]="playground" *ngIf="!settingsOpen"></app-number-plate>

</div>
