<div id="playgroundContent">

  <app-settings *ngIf="settingsOpen" [title]="'Around The Clock'" [playground]="playground"
                [rules]="'The object of this popular game is to be the first player to hit every number on the board ' +
                 'from 1-20. The numbers must be hit in order, and players alternate after three throws. The player ' +
                  'must hit each number in turn and cannot proceed until to the next number until the number is hit. ' +
                   'The winner is the player who hist all the numbers in order first.'">
    <h2>Games</h2>
    <button mat-raised-button class="button medium" [color]="settings.jump?'primary':''" (click)="settings.toggleJump()">
      Enable Jump
    </button>
<!--    <button mat-raised-button class="button medium" [color]="game.victoryFirst?'primary':''" (click)="game.toggleVictoryFirst()">-->
<!--      Victory First-->
<!--    </button>-->
    <button mat-raised-button class="button medium" [color]="settings.punishment?'primary':''" (click)="settings.togglePunishment()">
      Enable Punishment
    </button>
  </app-settings>

  <div class="side-left">
    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>
    <ng-container *ngIf="!settingsOpen">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <app-player-score [player]="player" [scoreDisplayed]="false" [hasContent]="false"></app-player-score>
      </div>
    </ng-container>
  </div>
  <app-number-plate [playground]="playground" *ngIf="!settingsOpen"></app-number-plate>

</div>
