<div id="playgroundContent">

  <app-settings *ngIf="settingsOpen" [title]="'Capture the Flag'" [playground]="playground"
                [rules]="'...'">


    <button mat-raised-button class="button shortmedium" [color]="settings.style === 0 ? 'primary' : ''"
            (click)="settings.randomCity()">City</button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style === 1 ? 'primary' : ''"
            (click)="settings.randomCountry()">Country</button>
    <button mat-raised-button class="button shortmedium" [color]="settings.style === 2 ? 'primary' : ''"
            (click)="settings.randomContinent()">Continent</button>
    <button mat-raised-button class="button shortmedium" [color]="settings.noScore?'primary':''"
            (click)="settings.toggleNoScore()">No score
    </button>
  </app-settings>

  <div class="side-left">
    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>
    <ng-container *ngIf="!settingsOpen">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <app-player-score [player]="player">
          <div class="field-set">
            <div class="field {{isActiveField(field) ? 'highlighted': ''}}"
                 *ngFor="let field of settings.fields">
              {{field === 20 ? 'B' : (field + 1)}}: <span class="small">{{ getFieldValue(player, field) }}</span>
            </div>
          </div>
        </app-player-score>
      </div>
    </ng-container>
  </div>
  <app-number-plate [playground]="playground" *ngIf="!settingsOpen"></app-number-plate>
</div>
