<div class="dialog-container darts-table-container">
  <mat-dialog-content class="body-2" (click)="close()">
    <svg viewBox="0 0 600 600">
      <g>
        <ellipse stroke="#000" stroke-width="28" ry="255.21392" rx="255.21392" id="svg_1" cy="299.99999" cx="300" opacity="NaN" fill="#ffffaa"/>
        <ellipse stroke="#000" stroke-width="5" fill-opacity="0" ry="234.85655" rx="234.85655" id="svg_44" cy="299.99999" cx="300.00001" opacity="NaN" fill="#ffffaa"/>
        <ellipse stroke="#000" stroke-width="14" ry="17.42588" rx="17.42588" id="svg_2" cy="300" cx="300" opacity="NaN" fill="#ffffff"/>
        <line transform="rotate(-9 300 300)" id="svg_7" y2="543.61446" x2="300" y1="56.38556" x1="300" stroke-width="5" stroke="#000" fill="none"/>
        <line transform="rotate(27 300 300)" id="svg_8" y2="543.61446" x2="300" y1="56.38556" x1="300" stroke-width="5" stroke="#000" fill="none"/>
        <line transform="rotate(63 300.741 300)" id="svg_9" y2="543.61443" x2="300.74077" y1="56.38553" x1="300.74077" stroke-width="5" stroke="#000" fill="none"/>
        <line transform="rotate(135 300 300)" id="svg_10" y2="543.61445" x2="300.00003" y1="56.38555" x1="300.00003" stroke-width="5" stroke="#000" fill="none"/>
        <line transform="rotate(99 300 300)" id="svg_11" y2="543.61444" x2="300.00002" y1="56.38554" x1="300.00002" stroke-width="5" stroke="#000" fill="none"/>
        <line transform="rotate(45 300 300)" stroke="#000" id="svg_16" y2="543.61444" x2="300.00002" y1="56.38554" x1="300.00002" stroke-width="5" fill="none"/>
        <line transform="rotate(9 300 300)" id="svg_17" y2="543.61446" x2="300.00001" y1="56.38556" x1="300.00001" stroke-width="5" stroke="#000" fill="none"/>
        <line transform="rotate(82 300.741 300)" id="svg_18" y2="543.61443" x2="300.74077" y1="56.38553" x1="300.74077" stroke-width="5" stroke="#000" fill="none"/>
        <line transform="rotate(117 300 300)" id="svg_19" y2="543.61444" x2="300.00002" y1="56.38554" x1="300.00002" stroke-width="5" stroke="#000" fill="none"/>
        <line transform="rotate(153 300 300)" id="svg_20" y2="543.61445" x2="300.00003" y1="56.38555" x1="300.00003" stroke-width="5" stroke="#000" fill="none"/>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_21" y="101.43315" x="282.14266" stroke="#000" fill="#000000">20</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_22" y="112.14756" x="353.57205" stroke="#000" fill="#000000">1</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_23" y="142.1479" x="403.57262" stroke="#000" fill="#000000">18</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_24" y="186.43412" x="459.28754" stroke="#000" fill="#000000">4</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_25" y="245.72052" x="479.28777" stroke="#000" fill="#000000">13</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_26" y="312.14984" x="500.71658" stroke="#000" fill="#000000">6</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_27" y="374.29341" x="480.71635" stroke="#000" fill="#000000">10</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_28" y="430.72262" x="452.1446" stroke="#000" fill="#000000">15</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_29" y="477.15173" x="417.1442" stroke="#000" fill="#000000">2</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_30" y="506.43778" x="347.1434" stroke="#000" fill="#000000">17</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_31" y="518.58076" x="289.2856" stroke="#000" fill="#000000">3</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_32" y="508.58065" x="216.42762" stroke="#000" fill="#000000">19</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_33" y="477.15172" x="169.28422" stroke="#000" fill="#000000">7</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_34" y="431.43692" x="110.71213" stroke="#000" fill="#000000">16</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_35" y="372.15053" x="90.71191" stroke="#000" fill="#000000">8</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_36" y="306.43548" x="72.14025" stroke="#000" fill="#000000">11</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_37" y="244.29192" x="83.56896" stroke="#000" fill="#000000">14</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_38" y="185.71982" x="122.14082" stroke="#000" fill="#000000">9</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_39" y="140.71931" x="162.14128" stroke="#000" fill="#000000">12</text>
        <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_40" y="112.14755" x="227.85631" stroke="#000" fill="#000000">5</text>
        <text stroke-opacity="0" font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="30" id="svg_41" y="310.35406" x="289.21193" stroke="#0f0f00" fill="#ffffff">B</text>
        <ellipse stroke="#000" stroke-width="5" fill-opacity="0" ry="148.78414" rx="148.78414" id="svg_46" cy="299.99999" cx="300" opacity="NaN" fill="#ffffaa"/>
        <ellipse stroke="#000" stroke-width="5" fill-opacity="0" ry="139.85547" rx="139.85547" id="svg_47" cy="299.99998" cx="300.00001" opacity="NaN" fill="#ffffaa"/>
      </g>
    </svg>
    <div *ngFor="let f of data.field" class="clip darts-table-field-{{f}}"
         [class.primary]="isPrimary(f)" [class.secondary]="isSecondary(f)"></div>
  </mat-dialog-content>
</div>
