.player {
  margin: 0.7vw 0.1vw;
  border-radius: 0.5vw;

  .shoots {
    display: flex;
    justify-content: flex-end;

    .shoot {
      margin: 0.1vw;
      border-radius: 0.5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3vw;
      height: 3vw;
      font-size: calc(6px + 1vw);

      &.total {
        margin-left: 10px;
      }
    }
  }

  .line {
    margin: 1vw 0;
  }

  .player_info {
    padding: 1vw;

    .small {
      font-size: calc(0.6vw + 0.5vh);
      font-weight: bold;
    }

    .name {
      font-size: calc(5px + 1vw);
    }

    .score {
      font-size: 3.2vw;
      letter-spacing: 0.5vw;
      font-weight: bold;
      float: right;

      label {
        font-size: 1vw;
        letter-spacing: 0.2vw;
      }
    }

    .note {
      font-size: 2.0vw;
      margin-right: 10px;
      float: right;

      label {
        font-size: 1.5vw;
      }
    }
    .field-set {
      display: flex;
      flex-flow: row wrap;
    }
    .field {
      font-size: calc(0.7vw + 0.7vh);
      width: 70px;
      opacity: 0.4;

      &.highlighted, &.active {
        opacity: 1;
      }
    }
  }

  &.highlighted {
    &.highlighted2 {
      opacity: 1;
    }
  }

  &.highlighted2 {
    opacity: 0.6;
  }

  &.inactive {
    opacity: 0.4;
  }

  &.highlighted, &.highlighted2 {
    .line {
      margin: 1vw 0;
    }
  }
}
