.player {
  margin: 0.7vw 0.1vw;
  border-radius: 0.5vw;

  &.highlighted {
    &.highlighted2 {
      opacity: 1;
    }
  }

  &.highlighted2 {
    opacity: 0.6;
  }

  &.inactive {
    opacity: 0.4;
  }
}
