@import "~@angular/material/theming";
@include mat-core();

$app-theme: mat-light-theme(mat-palette($mat-teal), mat-palette($mat-grey));
$dark-theme: mat-dark-theme(mat-palette($mat-cyan), mat-palette($mat-gray));
$basic: mat-palette($mat-grey);

@mixin shared-module-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  .version {
    color: mat-color($accent, 400);
  }

  .toolbar {
    .round-info {
      color: mat-color($primary, 50);
      background: mat-color($primary, 500);
    }
  }
  .error-dialog {
    .mat-dialog-title {
      color: mat-color($warn, 500);
    }
  }
  .dialog-container {
    .score-line {
      &.winner {
        background: rgba(mat-color($accent, 400), 0.5);
      }
    }
  }
}

@mixin feature-module-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .settings {
    #rules details p {
      background: mat-color(map-get($theme, primary), 500);
      color: mat-color($basic, 50);
    }
    .player-row {
      background: mat-color(map-get($theme, primary), 500);
      color: mat-color($basic, 50);
    }
  }

  .player {
    color: mat-color($accent, 300);
    background: mat-color($accent, 600);

    .shoots {
      .shoot {
        background: mat-color($accent, 900);
        color: mat-color($accent, 300);

        &.total {
          background: mat-color($primary, 900);
          color: mat-color($primary, 100);
        }
      }
    }

    .line {
      border-top: 1px solid mat-color($accent, 500);
    }

    .player_info {
      .field {
        color: mat-color($accent, 300);
      }
    }

    &.highlighted {
      background: linear-gradient(to top, mat-color($primary, 500), mat-color($primary, 600));
    }

    &.highlighted2 {
      background: mat-color($primary, 700);
    }

    &.highlighted, &.highlighted2 {
      .player_info {
        .shoot {
          background: mat-color($primary, 900);
          color: mat-color($accent, 400);
  
          &.total {
            background: mat-color($primary, 900);
            color: mat-color($accent, 100);
          }
        }
        .field {
          color: mat-color($accent, 100);
        }
      }
      .line {
        border-top: 1px solid mat-color($accent, 900);
      }
    }
  }
}

@include angular-material-theme($app-theme);
@include shared-module-theme($app-theme);
@include feature-module-theme($app-theme);
.dark-theme {
  @include angular-material-theme($dark-theme);
  @include shared-module-theme($dark-theme);
  @include feature-module-theme($dark-theme);
}

body {
  background: linear-gradient(to top, mat-color($basic, 200), #efefef);
  color: mat-color(map-get($app-theme, accent), 900);
  &.dark-theme {
    background: linear-gradient(to top, mat-color($basic, 800), #000000);
    color: mat-color(map-get($dark-theme, primary), 200);
  }
}
