<div id="playgroundContent">

  <app-settings *ngIf="settingsOpen" [title]="'Imitator'" [playground]="playground"
                [rules]="'...'">

    <h2>Number of Round</h2>
    <button mat-raised-button class="button" [color]="settings.round===3?'primary':''" (click)="settings.setRound(3)">
      3
    </button>
    <button mat-raised-button class="button" [color]="settings.round===5?'primary':''" (click)="settings.setRound(5)">
      5
    </button>
    <button mat-raised-button class="button" [color]="settings.round===10?'primary':''" (click)="settings.setRound(10)">
      10
    </button>
    <button mat-raised-button class="button" [color]="settings.round===15?'primary':''" (click)="settings.setRound(15)">
      15
    </button>
    <button mat-raised-button class="button" [color]="settings.round===20?'primary':''" (click)="settings.setRound(20)">
      20
    </button>
  </app-settings>

  <div class="side-left">
    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>
    <ng-container *ngIf="!settingsOpen">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <app-player-score [player]="player" [hasContent]="false"></app-player-score>
      </div>
    </ng-container>
  </div>
  <app-number-plate [playground]="playground" *ngIf="!settingsOpen"></app-number-plate>
</div>
