.side-right_visual {
  width: 98vw;

  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -65px;
  }

  #darts-table-plate {
    width: 100%;
    text-align: center;

    .number-text, .field-note {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 11px;

      &.disabled {
        opacity: 0.3;
      }

      &.smaller {
        font-size: 8px;
      }
    }

    .field-note {
      font-size: 6px;
    }

    path, text {
      cursor: pointer;
    }

    .field-color, .field-color-m {
      &.disabled {
        opacity: 0.4;
      }

      &.clicked {
        animation-name: field-clicked;
        animation-duration: 200ms;
      }
    }
  }

  button {
    margin-right: 3px;
    width: 82px;
    height: 52px;
    position: absolute;
    right: 0px;
  }
}

@keyframes field-clicked {
  0% {
    fill: var(--text_color);
  }
  100% {
    fill: var(--table_normal_primary);
  }
}
