.side-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap row;

  .number {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2px;
    font-size: calc(11px + 0.8vw + 0.8vh);
    width: calc(100% / 5 - 20px);
    height: 18vw;

    mat-icon {
      font-size: 30px;
    }

    .field-number {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .field-note {
      font-size: 12px;
      width: 13vw;
      overflow: hidden;
      word-break: normal;
      white-space: pre-line;
      line-height: 16px;
      text-align: right;
      position: absolute;
      margin: 4px 7px 0 0;
    }

    .field-note-bottom {
      font-size: 14px;
      width: 13vw;
      overflow: hidden;
      word-break: normal;
      white-space: pre-line;
      line-height: 16px;
      text-align: left;
    }
  }

  .number:disabled {
    opacity: 0.5;
  }
}
