<div class="side-right">

  <button mat-raised-button *ngFor="let i of getNumbers()" class="number" [color]="getNumberColor(i)"
          [disabled]="isNumberDisabled(i)" (click)="throwNumber(i)">
    {{i}}
    <mat-icon *ngIf="playground.getFieldIcon(i)">{{ playground.getFieldIcon(i)}}</mat-icon>
    <p class="field-note" *ngIf="playground.getFieldNote(i)">{{ playground.getFieldNote(i)}}</p>
  </button>
  <button mat-raised-button class="number" [color]="getNumberColor(25)" [disabled]="isNumberDisabled(25)"
          (click)="throwNumber(25)">
    Bull
    <mat-icon *ngIf="playground.getFieldIcon(25)">{{ playground.getFieldIcon(25)}}</mat-icon>
    <p class="field-note" *ngIf="playground.getFieldNote(25)">{{ playground.getFieldNote(25)}}</p>
  </button>

  <button mat-raised-button class="number" [color]="playground.multiplier === 2 ? 'primary' : ''"
          (click)="playground.doublePoint()" [disabled]="!playground.multiEnabled">Double</button>
  <button mat-raised-button class="number" [color]="playground.multiplier === 3 ? 'primary' : ''"
          (click)="playground.triplePoint()" [disabled]="!playground.multiEnabled">Triple</button>

  <button mat-raised-button class="number" (click)="playground.skip()" [disabled]="!playground.nextEnabled">Next</button>
  <button mat-raised-button class="number" (click)="playground.throwNumber(0)" [disabled]="!playground.zeroEnabled">0</button>
</div>
