.toolbar {
  display: flex;

  button {
    margin: 2px 2px 0 2px;
    flex: 1;
    height: 60px;
  }
}

.round-info {
  position: absolute;
  bottom: 50px;
  left: 0;
  font-size: 10em;
  opacity: 0.1;
  width: 30vw;
  line-height: 150px;
  text-align: center;

  &.detailed {
    width: 30vw;
  }
}

.theme-chooser {
  position: absolute;
  bottom: 0;
  left: 75px;
}

