.toolbar {
  display: flex;

  button {
    margin: 2px 2px 0 2px;
    flex: 1;
    height: 60px;
  }
}

.round-info {
  position: absolute;
  bottom: 50px;
  left: 10px;
  font-size: 8em;
  opacity: 0.3;
  width: 30vw;
  line-height: 150px;
  text-align: center;
  text-shadow: 0px 3px 1px rgb(0 0 0 / 20%), 0px 2px 2px rgb(0 0 0 / 14%), 0px 1px 5px rgb(0 0 0 / 12%);

  &.detailed {
    width: 30vw;
  }
}

.theme-chooser {
  position: absolute;
  bottom: 0;
  left: 45px;
}

