<audio #audioElement></audio>
<div [@routeAnimations]="outlet && outlet.isActivated && outlet.activatedRoute" [class.xmas]="applicationStateService.settings.theme === 3">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<div class="theme-chooser">
  <button mat-icon-button (click)="applicationStateService.toggleColorTheme()" color="primary"><mat-icon>invert_colors</mat-icon></button>
  <button mat-icon-button (click)="applicationStateService.toggleDetails()" [color]="applicationStateService.settings.details ? 'primary' : 'accent'">
    <mat-icon>search</mat-icon>
  </button>
</div>
<div class="xmas-background" *ngIf="applicationStateService.settings.theme === 3"></div>
