<div class="player_info">
  <div class="name"><mat-icon *ngIf="highlighted">offline_bolt</mat-icon>{{player.name}}</div>
  <div class="shoots">
    <div class="shoot">{{!player.throws[0] ? '-' : player.throws[0]}}</div>
    <div class="shoot">{{!player.throws[1] ? '-' : player.throws[1]}}</div>
    <div class="shoot">{{!player.throws[2] ? '-' : player.throws[2]}}</div>
    <div class="shoot total">{{!player.getThrowsTotal() ? '0' : player.getThrowsTotal()}}</div>
  </div>
  <div class="clear"></div>
  <div class="line" *ngIf="hasContent && application.settings.details"></div>
  <ng-content *ngIf="application.settings.details"></ng-content>
  <div class="line-space" *ngIf="scoreDisplayed || lifeDisplayed"></div>
  <div class="score" *ngIf="scoreDisplayed && !lifeDisplayed">{{player.score}}</div>
  <div class="score" *ngIf="!scoreDisplayed && lifeDisplayed"><label>Life: </label>{{player.life}}</div>
  <div class="score" *ngIf="scoreDisplayed && lifeDisplayed">
    <label>Life: </label>{{player.life}}
    <label>Score: </label>{{player.score}}
  </div>
  <div class="clear"></div>
</div>
