.player_info {
  height: 45px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 10px);

  .name {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: calc(5px + 1vw);

    mat-icon {
      margin-right: 10px;
      font-size: calc(20px + 1vw);
    }
  }

  .shoot-score {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
  }

  .shoots {
    display: flex;
    justify-content: flex-end;

    .shoot {
      margin: 0.1vw;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4vw;
      height: 3vw;
      font-size: calc(6px + 1vw);

      &.total {
        margin-left: 10px;
      }
    }
  }

  .score {
    font-size: 3.2vw;
    letter-spacing: 0.5vw;
    font-weight: bold;
    margin-left: 20px;
    text-align: right;
    white-space: nowrap;
    width: 25px;

    label {
      font-size: 1vw;
      letter-spacing: 0.2vw;
    }
  }
}
