<div id="playgroundContent">

  <div class="left side_left">

    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>

    <div class="clear" *ngIf="!settingsOpen"></div>

    <ng-container *ngIf="!settingsOpen">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <div class="player_info">
          <div class="name left">{{player.name}}</div>
          <div class="shoots right">
            <div class="shoot total"><p>{{player.getThrowsTotal()}}</p></div>
            <div class="shoot"><p>{{player.throws[2]}}</p></div>
            <div class="shoot"><p>{{player.throws[1]}}</p></div>
            <div class="shoot"><p>{{player.throws[0]}}</p></div>
          </div>
          <div class="clear"></div>
          <div class="line"></div>
          <div
              class="field left {{isActiveField(player, field) && settings.isBlackOutGame()  ? 'active': ''}} {{isFieldDoneForPlayer(player, field) ? 'highlighted' : ''}}"
              *ngFor="let field of settings.fields">
            {{field}}: <span class="small">{{ getFieldValue(player, field) }}</span>
          </div>
          <div class="point right" *ngIf="!settings.isNoScoreGame()">{{player.score}}</div>
          <div class="clear"></div>
        </div>
      </div>
    </ng-container>

    <app-modal></app-modal>

    <div class="settings" *ngIf="settingsOpen">
      <h1>Cricket Settings</h1>

      <h2>Players</h2>
      <button ion-button class="button left big" (click)="addPlayer()" *ngIf="game.canAddPlayer()">New Player</button>
      <button ion-button class="button left big inactive" *ngIf="!game.canAddPlayer()">New Player</button>
      <div class="clear"></div>
      <div *ngFor="let player of game.players; let i = index">
        <p>
          Player #{{i + 1}} name: <input [(ngModel)]="player.name" name="input" type="text">
          <button ion-button class="button small" (click)="removePlayer(player)"> -</button>
        </p>
      </div>
      <div class="clear"></div>

      <h2>Fields</h2>
      <button ion-button class="button left {{ settings.numbs[i] ? 'highlighted' : '' }}"
              *ngFor="let numb of settings.getNumbers(); let i = index" (click)="settings.setNumber(i)">
        {{numb === 21 ? 'B' : numb}}
      </button>
      <button ion-button class="button left capitalize" (click)="settings.upper()">Upper</button>
      <button ion-button class="button left capitalize" (click)="settings.lower()">Lower</button>
      <button ion-button class="button left capitalize" (click)="settings.odd()">Odd</button>
      <button ion-button class="button left capitalize" (click)="settings.even()">Even</button>
      <button ion-button class="button left capitalize" (click)="settings.randomize()">Random</button>
      <div class="clear"></div>

      <h2>Style</h2>
      <button ion-button class="button left shortmedium {{settings.style==1?'highlighted':''}}"
              (click)="settings.setStyle(1)">Classic
      </button>
      <button ion-button class="button left shortmedium {{settings.style==2?'highlighted':''}}"
              (click)="settings.setStyle(2)">Cut-Throat
      </button>
      <button ion-button class="button left shortmedium {{settings.style==3?'highlighted':''}}"
              (click)="settings.setStyle(3)">No Score
      </button>
      <button ion-button class="button left shortmedium {{settings.style==4?'highlighted':''}}"
              (click)="settings.setStyle(4)">Black Out
      </button>

      <div class="clear space"></div>
      <button ion-button class="button left big" (click)="newGame()">Save and Start</button>
      <button ion-button class="button left big" (click)="quit()">Cancel</button>
    </div>

  </div>

  <app-number-plate [playground]="playground" *ngIf="!settingsOpen"></app-number-plate>

</div>
