.settings {
  padding: 2vh 2vw;

  #rules {
    margin: 10px 0;

    details {
      transition: all 400ms ease-in-out;
      overflow: hidden;

      :visited, :focus {
        border: none;
        outline: none;
      }

      ::-webkit-details-marker {
        display:none;
      }

      p {
        white-space: pre-line;
        word-break: break-word;
        padding: 10px;
      }
    }

    details:not([open]) {
      height: 1.25em;
    }

    details[open] {
      height: 11em;
    }
  }

  h2 {
    display: flex;
    align-items: center;
  }

  mat-divider {
    clear: both;
    margin: 5px 0;
  }

  .field-set {
    display: flex;
    justify-content: space-between;
  }

  .button, mat-form-field {
    margin: 3px;
    height: 45px;

    &.big {
      width: 30.4vw;
    }

    &.medium {
      width: 20.2vw;
    }

    &.shortmedium {
      width: 15vw;
    }
  }
}
