.settings {
  padding: 2vh 2vw;
  width: 100%;

  h2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 5px;
  }

  mat-divider {
    clear: both;
    margin: 5px 0;
  }

  .field-set {
    display: flex;
    justify-content: space-between;
  }
}
