.settings {
  padding: 2vh 2vw;

  h2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 5px;
  }

  mat-divider {
    clear: both;
    margin: 5px 0;
  }

  .field-set {
    display: flex;
    justify-content: space-between;
  }

  .button, mat-form-field {
    margin: 3px;
    height: 45px;

    &.big {
      width: 30.4vw;
    }

    &.medium {
      width: 20.2vw;
    }

    &.shortmedium {
      width: 15vw;
    }
  }
}
