#menu_title {
  padding: 50px;
  text-align: center;
  cursor: pointer;
}

#menu {
  width: 100vw;

  .button-line {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .menu-item-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .gameSelectBox {
    height: 190px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    margin: 0;
    color: var(--text_color);

    mat-icon {
      font-size: 60px;
      width: 60px;
      height: 60px;
    }

    .title {
      font-size: 16px;
      white-space: pre;
      text-align: center;
      padding: 10px;
      line-height: 25px;
      letter-spacing: 1px;
      font-weight: normal;
      width: 160px;
      margin: 0 0 25px 0;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .hasBot:after {
    content: 'B';
    position: relative;
    top: 72px;
    right: 12px;
    margin: -4px;
  }

  .menu-button-00 {
    background: var(--menu_1);
  }

  .menu-button-01 {
    background: var(--menu_3);
  }

  .menu-button-02 {
    background: var(--menu_2);
  }

  .menu-button-10 {
    background: var(--menu_2);
  }

  .menu-button-11 {
    background: var(--menu_1);
  }

  .menu-button-12 {
    background: var(--menu_3);
  }

  .menu-button-20 {
    background: var(--menu_1);
  }

  .menu-button-21 {
    background: var(--menu_3);
  }

  .menu-button-22 {
    background: var(--menu_2);
  }

  .menu-button-30 {
    background: var(--menu_2);
  }

  .menu-button-31 {
    background: var(--menu_1);
  }

  .menu-button-32 {
    background: var(--menu_3);
  }
}

.version {
  position: fixed;
  bottom: 0;
  right: 5px;
  //color: mat-color($accent, 400);
}
