<div id="menu_title">
  <h1 (click)="randomGame()" *ngIf="applicationStateService.settings.theme !== 3">Select Game!</h1>
  <h1 (click)="randomGame()" *ngIf="applicationStateService.settings.theme === 3">Boldog Karácsonyt Donga!</h1>
</div>
<div id="menu">
  <div class="button-line" *ngFor="let k of [0,1,2,3]">
    <button mat-raised-button *ngFor="let g of getGameList().slice(k*3,k*3 + 3); let i = index"
            [routerLink]="['/' + g.path]"
            class="gameSelectBox {{'menu-button-' + k + '' + i}} {{g.data.bot ? 'hasBot' : ''}}">
      <mat-icon>{{g.data.icon}}</mat-icon>
      <div class="title">{{g.data.name}}</div>
    </button>
  </div>
</div>
<div class="version">
  <button mat-icon-button (click)="openGameTypeStatistics()" [color]="'primary'">
    <mat-icon>stars</mat-icon>
  </button>
  <button mat-icon-button (click)="openGameStatistics()" [color]="'primary'">
    <mat-icon>history</mat-icon>
  </button>
</div>
