#menu_title {
  padding: 50px;
  text-align: center;
  cursor: pointer;
}

#menu {
  width: 100vw;

  .button-line {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .menu-item-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .gameSelectBox {
    height: 190px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    margin: 0;
    color: var(--text_color);

    mat-icon {
      font-size: 60px;
      width: 60px;
      height: 60px;
    }

    .title {
      font-size: 16px;
      white-space: pre;
      text-align: center;
      padding: 10px;
      line-height: 25px;
      letter-spacing: 1px;
      font-weight: normal;
      width: 170px;
      margin: 0 0 25px 0;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .hasBot:after {
    content: 'B';
    position: relative;
    top: 72px;
    right: 12px;
    margin: -4px;
  }

  .menu-button-00 {
    background: linear-gradient(45deg, var(--menu_1a), var(--menu_1b));
  }

  .menu-button-01 {
    background: linear-gradient(45deg, var(--menu_3a), var(--menu_3b));
  }

  .menu-button-02 {
    background: linear-gradient(45deg, var(--menu_2a), var(--menu_2b));
  }

  .menu-button-10 {
    background: linear-gradient(45deg, var(--menu_2a), var(--menu_2b));
  }

  .menu-button-11 {
    background: linear-gradient(45deg, var(--menu_1a), var(--menu_1b));
  }

  .menu-button-12 {
    background: linear-gradient(45deg, var(--menu_3a), var(--menu_3b));
  }

  .menu-button-20 {
    background: linear-gradient(45deg, var(--menu_1a), var(--menu_1b));
  }

  .menu-button-21 {
    background: linear-gradient(45deg, var(--menu_3a), var(--menu_3b));
  }

  .menu-button-22 {
    background: linear-gradient(45deg, var(--menu_2a), var(--menu_2b));
  }

  .menu-button-30 {
    background: linear-gradient(45deg, var(--menu_2a), var(--menu_2b));
  }

  .menu-button-31 {
    background: linear-gradient(45deg, var(--menu_1a), var(--menu_1b));
  }

  .menu-button-32 {
    background: linear-gradient(45deg, var(--menu_3a), var(--menu_3b));
  }
}

.version {
  position: fixed;
  bottom: 0;
  right: 5px;
  //color: mat-color($accent, 400);
}

@media screen and (max-width: 570px) {
  #menu_title {
    display: none;
  }

  #menu {
    padding-top: 45px;

    .gameSelectBox {
      width: calc(30vw - 20px);
      height: calc(30vw - 20px);

      mat-icon {
        font-size: calc(15vw - 28px);
        width: auto;
        height: auto;
      }

      .title {
        font-size: 10px;
        text-align: center;
        padding: 4px;
        letter-spacing: 0px;
        width: calc(30vw - 28px);
        margin: 0 0 12px 0;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .hasBot:after {
      display: none;
    }
  }
}
