<div id="playgroundContent">

  <app-settings *ngIf="settingsOpen" [title]="'Capture the Flag'" [playground]="playground"
                [rules]="'Növekvő sorrendben jönnek a mezők, a játékosoknak el kell foglalni őket. Ez történhet úgy,' +
                 ' hogy háromszor eltalálja a játékos vagy dob egyetlen dupla bullt. Ha a játékos elfoglalta a mezőt, ' +
                  'akkor No score esetén 1 pontot kap, egyébként megkapja a mező értékét és megnyílik a következő mező.' +
                   'A játék a bull mező elfoglalásáig tart. A végén az nyer, akinek a legtöbb pontja van. Döntetlen ' +
                    'lehetséges.'">


    <button class="button shortmedium" [class.primary]="settings.style === 0"
            (click)="settings.randomCity()">City (5)
    </button>
    <button class="button shortmedium" [class.primary]="settings.style === 1"
            (click)="settings.randomCountry()">Country (10)
    </button>
    <button class="button shortmedium" [class.primary]="settings.style === 2"
            (click)="settings.randomContinent()">Contin. (20)
    </button>
    <button class="button shortmedium" [class.primary]="settings.noScore"
            (click)="settings.toggleNoScore()">No score
    </button>
  </app-settings>

  <div class="side-left" [class.detailed]="application.settings.details">
    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>
    <div class="player_container" *ngIf="!settingsOpen" [class.visual]="!application.settings.details">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <app-player-score [player]="player">
          <div class="field-set">
            <div class="field {{isActiveField(field) ? 'highlighted': ''}}"
                 *ngFor="let field of settings.fields">
              {{field === 20 ? 'B' : (field + 1)}}: <span class="small">{{ getFieldValue(player, field) }}</span>
            </div>
          </div>
        </app-player-score>
      </div>
    </div>
  </div>
  <app-number-plate-visual [playground]="playground" *ngIf="!settingsOpen && !application.settings.details">
  </app-number-plate-visual>
  <app-number-plate [playground]="playground" *ngIf="!settingsOpen && application.settings.details"></app-number-plate>
</div>
