<div id="playgroundContent">

  <app-settings *ngIf="settingsOpen" [title]="'Fives'" [playground]="playground"
                [rules]="'The idea of the game to throw three darts into the board, in turn, to score a number that ' +
                 'is divisible by five. The higher the number you score, the more points you can score. For every five ' +
                  'scored, one point is awarded. E.g. if a player scores fifteen then he or she gains three points.'">

    <h2>Games</h2>
    <button mat-raised-button class="button" [color]="settings.noCheat?'primary':''" (click)="settings.toggleNoCheat()">
      No Cheat
    </button>
    <mat-divider></mat-divider>

    <h2>Divider</h2>
    <button mat-raised-button class="button" [color]="settings.divider === divider?'primary':''"
            *ngFor="let divider of settings.getSelectableDividers()"
            (click)="settings.setDivider(divider)">{{divider}}</button>
    <mat-divider></mat-divider>

    <h2>Limit</h2>
    <button mat-raised-button class="button" [color]="settings.limit === limit?'primary':''"
            *ngFor="let limit of settings.getSelectableLimits()"
            (click)="settings.setLimit(limit)">{{limit}}</button>
  </app-settings>

  <div class="side-left">
    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>
    <ng-container *ngIf="!settingsOpen">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}}"
           *ngFor="let player of game.players; let i = index">
        <app-player-score [player]="player" [hasContent]="false"></app-player-score>
      </div>
    </ng-container>
  </div>
  <app-number-plate [playground]="playground" *ngIf="!settingsOpen"></app-number-plate>
</div>
