@import "styles/settings";
@import "styles/player-score";
@import "styles/theming";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: mat-color($basic, 900);
  color: mat-color($basic, 50);
}

.clear {
  clear: both;
}

#playgroundContent {

  width: 100vw;
  height: 100vh;
  display: flex;

  .side-left {
    width: 30vw;
  }

  .side-right {
    width: 70vw;
    float: right;
  }
}

mat-card {
  margin: 3px;
}
