@import "styles/settings";
@import "styles/player-score";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

#playgroundContent {

  width: 100vw;
  height: 100vh;
  color: #ffffff;
  display: flex;

  .side_left {
    width: 30vw;
  }

  .side_right {
    width: 70vw;
  }

  .right {
    text-align: right;
  }
}
