#menu_title {
  padding: 50px;
  text-align: center;
  cursor: pointer;
}
#menu {
  width: 100vw;

  .button-line {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .gameSelectBox {
    margin: 1px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 60px;
      width: 60px;
      height: 60px;
    }

    .title {
      font-size: 16px;
      white-space: pre;
      text-align: left;
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 25px;
      letter-spacing: 1px;
      font-weight: normal;
      width: calc(100% - 20px);
    }
  }
}
.version {
  position: fixed;
  bottom: 0;
  right: 5px;
}
