#menu {
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 10vh;

  .gameSelectBox {
    margin: 0.2vh 0;
    height: 8vh;
    font-size: calc(10px + 1vw);
    width: 80vw;
  }
}
