<div class="toolbar">
  <button mat-raised-button (click)="quit()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-raised-button (click)="playground.newGame(true)">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-raised-button (click)="showSettings()">
    <mat-icon>build</mat-icon>
  </button>
  <button mat-raised-button (click)="playground.undo()">
    <mat-icon>undo</mat-icon>
  </button>
  <mat-chip-list>
    <mat-chip color="primary" selected> {{game.round+1}}</mat-chip>
  </mat-chip-list>
</div>
