<div id="playgroundContent">

  <app-settings *ngIf="settingsOpen" [title]="'Killer'" [playground]="playground"
                [rules]="'Firstly each player draws lots i.e. a number between 1 - 20. Each player is then given ' +
                 'between 3 & 5 lives. The objective of this game is for each thrower to first hit their own number ' +
                  'three times to gain status of KILLER. Once they have achieved this they then can throw for their ' +
                  'opponents number in any order they wish. Every time a KILLER status player hits an opponents ' +
                  'number the opponent loses a life. KILLERS can also commit SUICIDE by hitting their own number\'s ' +
                  'triple. The winner of this game is the player that remains alive.'">

    <h2>Games</h2>
    <div class="field-set">
      <mat-form-field appearance="outline" class="big">
        <mat-label>Life limit</mat-label>
        <input [(ngModel)]="settings.numberOfLives" type="number" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="big">
        <mat-label>Boarding</mat-label>
        <input [(ngModel)]="settings.boardingLimit" type="number" matInput>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <button mat-raised-button class="button shortmedium" [color]="settings.suicide?'primary':''"
            (click)="settings.toggleSuicide()">Suicide</button>
  </app-settings>

  <div class="side-left" [class.detailed]="application.settings.details">
    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>
    <div class="player_container" *ngIf="!settingsOpen" [class.visual]="!application.settings.details">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}} {{player.isInactive() ? 'inactive' : ''}}"
          *ngFor="let player of game.players; let i = index">
        <app-player-score [player]="player" [scoreDisplayed]="false" [highlighted]="getPlayerState(player).killer">
          <ng-container *ngIf="getPlayerField(player) !== '0'">
            <div class="score"><label>Field: </label>{{getPlayerField(player)}}</div>
            <div class="clear"></div>
            <div class="line"></div>
            <div class="score">
              <label>Life: </label>{{player.life}}
              <ng-container *ngIf="!getPlayerState(player).killer"><label>Boarding: </label>{{getPlayerState(player).boarding}}</ng-container>
            </div>
          </ng-container>
        </app-player-score>
      </div>
    </div>
  </div>
  <app-number-plate-visual [playground]="playground" *ngIf="!settingsOpen && !application.settings.details">
  </app-number-plate-visual>
  <app-number-plate [playground]="playground" *ngIf="!settingsOpen && application.settings.details"></app-number-plate>
</div>
