<div id="playgroundContent">

  <div class="side-left">

    <app-game-toolbar [playground]="playground" *ngIf="!settingsOpen"></app-game-toolbar>

    <ng-container *ngIf="!settingsOpen">
      <div class="player {{(i === game.actualPlayerIndex) ? 'highlighted' : ''}} {{isDead(player) ? 'inactive' : ''}} {{isKiller(player) ? 'highlighted2' : ''}}"
          *ngFor="let player of game.players; let i = index">
        <div class="player_info">
          <div class="name">{{player.name}}</div>
          <div class="shoots">
            <div class="shoot">{{!player.throws[0] ? '-' : player.throws[0]}}</div>
            <div class="shoot">{{!player.throws[1] ? '-' : player.throws[1]}}</div>
            <div class="shoot">{{!player.throws[2] ? '-' : player.throws[2]}}</div>
          </div>
          <div class="clear"></div>
          <div class="point" *ngIf="getPlayerField(player) !== '0'">
            <label>Field: </label>{{getPlayerField(player)}}</div>
          <div class="clear" *ngIf="getPlayerField(player) !== '0'"></div>
          <div class="point2"><label>Life: </label>{{getLife(player)}}</div>
          <div class="point2" *ngIf="!isKiller(player)"><label>Boarding: </label>{{getBoarding(player)}}</div>
          <div class="clear"></div>
        </div>
      </div>
    </ng-container>

    <div class="settings" *ngIf="settingsOpen">
      <h1>Killer Game Settings</h1>

      <h2>Players <button mat-icon-button (click)="addPlayer()" [disabled]="!game.canAddPlayer()"><mat-icon>add_circle</mat-icon></button></h2>
      <div *ngFor="let player of game.players; let i = index">
        <mat-form-field appearance="fill">
          <mat-label>Player #{{i + 1}} name:</mat-label>
          <input [(ngModel)]="player.name" type="text" matInput>
        </mat-form-field>
        <button mat-icon-button (click)="removePlayer(player)"><mat-icon>remove_circle</mat-icon></button>
      </div>
      <mat-divider></mat-divider>

      <mat-form-field appearance="fill">
        <mat-label>Life limit</mat-label>
        <input [(ngModel)]="settings.numberOfLives" type="number" matInput>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field appearance="fill">
        <mat-label>Boarding</mat-label>
        <input [(ngModel)]="settings.boardingLimit" type="number" matInput>
      </mat-form-field>

      <mat-divider></mat-divider>
      <button mat-raised-button class="button big" (click)="newGame()">Save and Start</button>
      <button mat-raised-button class="button big" (click)="quit()">Cancel</button>
    </div>

  </div>

  <app-number-plate [playground]="playground" *ngIf="!settingsOpen"></app-number-plate>

</div>
